body, html{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.ensinoMedioIntroducao { 
    width: 800px;
    display: inline-block;
    margin-left: 50px;
}
#ensinoMedio{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:  #284b63;
    border: 0;
}
.ensinoMedioCursos { 
    width: 800px;
    display: inline-block;
    margin-left: 50px;

}

#ensinoMedio3{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:  #284b63;
    border: 0;
}

.TiposMedio{
    width: 850px;
    padding: 0;
    margin: 0;
    background-color:  #284b63;
    border: 0;
}
#paragrafroEnsinoMedio{
    margin-left: 50px;
    width: 1200px;
}
